body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    justify-content: space-around;
    margin-left: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    margin-top: 20px;
}

.container {
    width: 500px;
    height: 500px;
    margin-bottom: 20px;
    border: solid black;
  }
  
button {
  padding: 10px 20px;
  font-size: 16px;
  }